<div class="pt px-4 pb-4 pt-8">

  <form class="gap-3 flex flex-col" [formGroup]="multiStep">

      <div class="flex flex-col gap-6">

        <label class="flex flex-col gap-1 title-base-black" for=""> Apodo

          <input formControlName="nick"
          [ngClass]="{'input-standard h-10 w-full rounded-md' : true,
          'input-error' : !isValid('nick'),
          'input-success' : isValid('nick')}" type="text" placeholder="JonDoe" autocomplete="off">

          <div class="w-full rounded-md h-auto p-1 bg-accent-lightRed gap-2 items-center flex" *ngIf="isInvalid('nick')">
            <p class="title-error-small">{{getErrorsNick()}} </p>
          </div>
        </label>

        <br>
        <label class="flex flex-col gap-1 title-base-black" for=""> Correo

          <input formControlName="email"
          [ngClass]="{'input-standard h-10 w-full rounded-md' : true,
          'input-error' : !isValid('email'),
          'input-success' : isValid('email')}" type="text" placeholder="example@example.com" autocomplete="off">

          <div class="w-full rounded-md h-auto p-1 bg-accent-lightRed gap-2 items-center flex" *ngIf="isInvalid('email')">
            <p class="title-error-small">{{getErrorsEmail()}}</p>
          </div>
        </label>

      </div>
  </form>
</div>




